@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --black: #262626;
    --red: #FF2E2E;
    --strong-orange: #FF5232;
    --light-blue: #5BFFB5;
}

* {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-space {
    font-weight: 700;
    font-size: 24px;
}

nav {}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

ul li {}

ul li a {
    color: var(--black);
    font-weight: 500;
}

/* apresentação */

main {
    display: block;
}

h2 {
    margin: 0;
    font-size: 38px;
}

h4 {
    margin: 0;
    font-size: 22px;
}

h5 {
    margin: 0;
    font-size: 16px;
}

.hi-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 10%;
}

.hi {}

.redcat {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.designer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    position: relative;
    /* top: -8px; */
    background-color: var(--black);
    height: 3px;
    width: 55%;
    color: transparent;
    border-radius: 25px;
}

.my-img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.img-box {
    font-size: 300px;
}