.CPU-view{
    width: 350px;
    height: 400px;
    box-shadow: 0 0 80px -25px;
    border-radius: 25px;
    padding: 1rem;
}
@media (max-width: 1370px) {
    .CPU-view{
        width: 190px;
        height: 210px;
    }
}